backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==2.1.1
click==8.1.7
cloudpickle==2.2.0
dateparser==1.1.3
docopt==0.6.2
elastic-transport==8.4.0
elasticsearch==8.5.0
Flask==2.3.3
gensim==4.1.2
geographiclib==2.0
geopy==2.4.0
idna==3.4
importlib-metadata==5.0.0
itsdangerous==2.1.2
jellyfish==0.6.1
Jinja2==3.1.2
joblib==1.2.0
lexnlp @ git+https://github.com/LexPredict/lexpredict-lexnlp.git@330b4e113c9bced0cc06f2c864c5015bb5ed2199
lxml==4.9.1
Markdown==3.4.4
MarkupSafe==2.1.3
nltk==3.7
num2words==0.5.12
numpy==1.23.4
pandas==1.5.1
psutil==5.9.4
pycountry==22.3.5
PyMuPDF==1.22.5
python-dateutil==2.8.2
pytz==2023.3.post1
regex==2022.3.2
reporters-db==3.2.32
requests==2.28.1
scikit-learn==0.24.0
scipy==1.9.3
six==1.16.0
smart-open==6.4.0
soupsieve==2.5
threadpoolctl==3.2.0
tqdm==4.64.1
tzlocal==5.0.1
Unidecode==1.3.6
urllib3==1.26.16
us==2.0.2
Werkzeug==2.3.7
zahlwort2num==0.4.2
zipp==3.17.0
-e .